body
{
    background-color: wheat;
}

.h
{
    color: wheat;
    font-style: italic;
}

.d1 , .d2
{
    background-color: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
}